body {
    background-color: #a1a5b3;
}
   
p {
    text-align: center;
    font: Helvetica;
    font-size: 25px;
    border-style: double;
    border-width: 20px;
}

.experience {
    background-color: #9fa1aa;
    float: left;
    margin: 25px 50px 75px 100px;

}

.bio {
    background-color: #9fa1aa;
    float: right;
    margin: 25px 50px 75px 100px;
}

h1 {
    text-align: center;
    text-decoration-color: #313a59;
    border-style: dotted;
    border-width: 5px;
}

h2 {
    text-align: center;
    font: Helvetica;
    border-style: dotted;
    border-width: 5px;
}

