body {
    background-color: #C83737;
    margin: 0%;
    height: 850px;
    width: 100%;
}

.c0 #title {
    font-family: 'Lacquer', sans-serif;
    background-color: #000000;
    border: none;
    color: #E9AFAF;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    cursor: pointer;
    border-bottom-right-radius: 25px;
}

.topnav a {
    float: left;
    display: block;
    color: #E9AFAF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lacquer', sans-serif;
}

.c0 {
    background-color: black;
    border: #A02C2C;
    border-radius: 5px;
}

header {
    background-color: #C83737;
    height: 84px;;
    width: 100%;
    padding: 0px;
    margin: 0%;
    text-align: center;
    justify-content: center;
    columns: 2;
}

.c1 {
    font-family: 'Lacquer', sans-serif;
    font-size: 60px;
    text-align: center;
}

.c2 {
    text-indent: 50px;
    font-family: 'Lacquer', sans-serif;
}

h3 .c3 {
    box-sizing: border-box;
    height: 210px;
    width: 350px;
    border: 5px solid #000000;
    background-color: #A02C2C;
    color: #E9AFAF;
    position: relative;
    left: 85px;
    border-radius: 25px;
    text-align: center;
    margin: 0%;
    padding: 9px 30px;
    margin-bottom: 50px;
    font-family: 'Lacquer', sans-serif;
}

h3 {
    columns: 2;
    height: 300px;
    width: 100%;
}

.c4 {
    text-align: left;
    float: right;
    text-indent: 40px;
    position: relative;
    right: 65px;
    background-color: #000000;
    color: #E9AFAF;
    padding: 10px 10px 10px;
    border-radius: 10px;
    font-family: 'Lacquer', sans-serif;
}

