body {
    background-color: #A02C2C;
    margin: 0%;
    height: 850px;
    width: 100%;
}

header {
    height: 20%;
    width: 100%;
    padding: 0px;
    margin: 0%;
    text-align: center;
    justify-content: center;
    background-color: #A02C2C;
    columns: 2;
}

.c0 {
    background-color: black;
    border: #A02C2C;
    border-radius: 5px;
}

.c0 #title {
    background-color: #000000;
    border: none;
    color: #E9AFAF;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    cursor: pointer;
    font-family: 'Lacquer', sans-serif;
    border-bottom-right-radius: 20px;
}

.topnav a {
    float: left;
    display: block;
    color: #E9AFAF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lacquer', sans-serif;
  }

.c1 {
    background-color: #000000;
    font-family: 'Lacquer', sans-serif;
    text-align: center; 
    margin-bottom: 0px;
    height: 50px;
    text-size-adjust: 75px;
    border: 5px solid #000000;
    width: 35%;
    border-radius: 5px;
    color: #E9AFAF;
    position: relative;
    left: 33%;
}

.c2 {
    background-color: #A02C2C;
    border: 10px solid #000000;
    border-radius: 25px;
    display: grid;
    height: 100%;
    margin: 10px;
}

h1 {
    width: 100%;
    height: 75px;
}

h2 {
    height: 500px;
    width: 100%;
}

